<h2>ADD A NEW EMPLOYEE</h2>
<!-- <form class="form">
    <mat-form-field class="full-width">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Ex. María" value="Sushi">
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Surname</mat-label>
        <input matInput placeholder="Ex. Rodríguez" value="Sushi">
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Address</mat-label>
        <input matInput placeholder="Avenida Moscardó 33 28022 madrid" value="Sushi">
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="mrod10@gmail.com" value="Sushi">
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Phone</mat-label>
        <input matInput placeholder="654-333-333" value="Sushi">
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Birthday</mat-label>
        <input matInput placeholder="10/12/1990" value="Sushi">
    </mat-form-field>
  
  </form> -->
  
