.employee-header-image {
    background-image: url('https://as2.ftcdn.net/jpg/01/81/79/77/500_F_181797771_aw51F5Q49FMkZYBspMO4P2A8QpJDZznz.jpg');
    background-size: cover;
    border: 2px solid lightblue
  }